{% extends 'portfolio/base.html' %}

{% block content %}

{% load static %}

<p class="aligncenter">
    <img src="{% static 'portfolio/self.jpg' %}" height="400">
</p>
<style>
.aligncenter {
    text-align: center;
}
</style>
    <center><h2>Привет, этот сайт я создал с помощью Django 3. Изучал данную тему я по курсу Ника Волтера.</h2></center>

 <center><h4 class="mt-5">Мои проекты:</h4></center>

<hr>

<div class="row">
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <a href="{% url 'portfolio:project_detail' project.id %}"><h3>{{ project.title }}</h3></a>
    <p>{{ project.description }}</p>

  </div>
  {% endfor %}
</div>

{% endblock %}

